pytest
parametrize_from_file
pytest-reportlog
pytest-html
pymongo
cython
mkdocs-material
mdx-include
mkdocs-github-admonitions-plugin
mkdocs-redirects
typer 
pyyaml
pillow
cairosvg
mkdocstrings[python]
griffe-typingdoc
mkdocs-macros-plugin
markdown-include-variants
pymdown-extensions
dacite
tqdm
debugpy
pyfaktory
lizard
mongomock
pre-commit